@font-face {
    font-family: 'Intro';
    src: url('/fonts/Intro-Light-Alt.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro-Bold';
    src: url('/fonts/Intro-Bold-Alt.otf');
    font-weight: normal;
    font-style: normal;
}

.blogs-page-wrapper{
    position: relative;
    width: 100%;
    padding: 50px;
}

.blogs-flex-wrapper, .home-blogs-flex-wrapper{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

@keyframes backgroundTransition {
    0% {
      background-color: #283593; /* Starting color */
    }
    50% {
      background-color: #3949ab; /* Midpoint color */
    }
    100% {
      background-color: #101357; /* Target color */
    }
  }

.blog-container, .home-blog-container{
    position: relative;
    width: 400px;
    height: 550px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background: linear-gradient(45deg, #3c1283 50%, #101357 50%);
    padding: 10px;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    color: white;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    .blog-img-container, .home-blog-img-container{
        position: relative;
        width: 100%;
        height: 250px;
        overflow: hidden;
        border-radius: 10px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .blog-text-container, .home-blog-text-container{
        position: relative;
        width: 100%;
        flex: 1;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        .link-from-title, .home-link-from-title{
            all: unset;
        }
        h2{
            font-family: 'Intro-Bold';
            font-weight: bold;
            cursor: pointer;
        }
        h2:hover{
            text-decoration: underline;
        }
        .blog-text-sliced, .home-blog-text-sliced{
            font-family: 'Intro';
            font-size: 14px;
            line-height: 1.3;
        }
    }
    .blog-author-date, .home-blog-author-date{
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-top: 5px;
        p{
            font-family: 'Intro-Bold';
        }
    }
    a.button-to-blog, a.home-button-to-blog{
        all: unset;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 130px;
        height: 30px;
        border-radius: 12px;
        border-style: none;
        color: black;
        background-color: #f44336;
        cursor: pointer;
    }
}

.blog-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 3px solid #f44336;
    border-radius: 20px;
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    transition: clip-path 0.5s ease-in-out;
}

.blog-container:hover::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transition: clip-path 0.4s ease-in-out;
}

.left-arrow {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 30px solid #e91e63;
}

.right-arrow {
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 
    border-left: 30px solid #e91e63;
}


.pagination {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  .page-numb, .dots-numb {
    margin: 0 5px;
    cursor: pointer;
    padding: 5px;
  }
  
  .active-page {
    font-weight: bold;
    text-decoration: underline;
  }
  button{
    all: unset;
    cursor: pointer;
  }
  
  button:disabled {
    opacity: 0.5;
  }

  @media screen and (max-width:500px) {
    .blogs-page-wrapper{
        padding: 20px;
    }
    .blog-container, .home-blog-container{
        h2{
            font-size: 18px;
        }
        .blog-img-container, .home-blog-img-container{
            height: auto;
            aspect-ratio: 16/9;
            img{
                object-fit: cover;
            }
        }
    }
    .pagination{
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        text-align: center;
        gap: 30px;
        .pagination-numbers {
            order: 1;
            flex: 1 100%;
          }
          .prev-page-button, .next-page-button{
            order: 2 !important;
          }
      }
  }