@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700");
@import './components/$contacts.scss';
@import './components/$uploadForm.scss';
@import './components/$editForm.scss';
@import './components/$rental.scss';
@import './components/$blogsPage.scss';
@import './components/$singleBlogPage.scss';
@import './components/$galleryPage.scss';
@import './components/$footer.scss';

@font-face {
  font-family: 'Intro';
  src: url('/fonts/Intro-Light-Alt.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Intro-Bold';
  src: url('/fonts/Intro-Bold-Alt.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Urbano';
  src: url('/fonts/urbano-bold.ttf');
  font-weight: bold;
  font-style: normal;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    font-family: "Nunito", sans-serif;
    color: rgba(#000, 0.7);
}

.stop-scroll{
  overflow: hidden !important;
}

.welcome{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.welcome-img-wrapper{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  aspect-ratio: 16 / 9;
  img{
    width: 100%;
    height: auto;
    object-fit: cover; /* Ensure the image covers the container */
  }
  .welcome-slider-container{
    position: absolute;
    bottom: 40px;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    .welcome-slider{
      display: inline-block;
      white-space: nowrap;
      &.add-animation{
        animation: scroll-text 10s linear infinite;
      }
      .second{
        padding-right: 100%;
        display: inline-block;
      }
      p{
      
        color: white;
      
        font-size: 15vw;
      
        font-weight: 500;
      
        display: inline-block;

        font-family: 'Urbano';
        margin-right: 2%;
        span{
          color: #f44336;
          font-size: 18vw;
        }
        @media (max-width: 768px) {
          font-size: 20vw; // Adjust for mobile view
          span{
            font-size: 22vw;
          }
        }
        
      }
    }
  }
}

@keyframes scroll-text {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-52%);
  }
}

.scroll-indicator-container {
  position: absolute;
  bottom: 1rem; // Converted from bottom-2
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 640px) { // Tailwind's 'xs' breakpoint is typically for screens up to 640px
    bottom: 1rem; // Adjust if you need different bottom positioning for xs screens
  }
}

.scroll-indicator-wrapper {
  cursor: pointer;
  width: 35px;
  height: 64px;
  border-radius: 1.5rem; // Converted from rounded-3xl
  border: 4px solid #f44336; // Assuming `--secondary` is a CSS variable for the border color
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0.5rem; // Converted from p-2
}

.scroll-indicator {
  width: 0.75rem; // Converted from w-3
  height: 0.75rem; // Converted from h-3
  border-radius: 50%;
  background-color: #f44336; // Assuming `--secondary` is a CSS variable for the background color
  margin-bottom: 0.25rem; // Converted from mb-1
}


.delete-modal-wrapper{
    width: 300px;
    height: 130px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    flex-wrap: nowrap;
    background-color: #101357;
    color: white;
    gap: 30px;
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.1);
    .delete-confirm-buttons{
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 10px;
      button{
        width: 80px;
        height: 25px;
        border-radius: 10px;
        cursor: pointer;
      }
      button:nth-of-type(1){
        background-color: #2e8f2b;
      }
      button:nth-of-type(2){
        background-color: #c82519;
      }
    }
}

.blur-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px); /* Adjust the blur amount as needed */
    z-index: 5; /* Place the blur layer behind the modal but above other content */
  }

  .edit-button button, .delete-button{
    cursor: pointer;
  }

  
  .modal {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0px;
    background: rgba(#333, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
    z-index: 1000;
  
    &-container {
      display: flex;
      max-width: 720px;
      width: 100%;
      height: auto;
      border-radius: 10px;
      overflow: hidden;
      position: relative;
      opacity: 0;
      pointer-events: none;
      transition-duration: 0.3s;
      background: #fff;
      transform: translateY(100px) scale(0.4);
    }
  
    &-title {
      font-size: 26px;
      margin: 0;
      font-weight: 400;
      color: #55311c;
    }
  
    &-desc {
      margin: 6px 0 30px 0;
    }
  
    &-left {
      padding: 60px 30px 20px;
      background: #fff;
      flex: 1.5;
      transition-duration: 0.5s;
      transform: translateY(80px);
      opacity: 0;
    }
  
    &-button {
      color: darken(#8c7569, 5%);
      font-family: "Nunito", sans-serif;
      font-size: 18px;
      cursor: pointer;
      border: 0;
      outline: 0;
      padding: 10px 40px;
      border-radius: 30px;
      background: rgb(255, 255, 255);
      box-shadow: 0 10px 40px rgba(0, 0, 0, 0.16);
      transition: 0.3s;
      
      &:hover {
        border-color: rgba(255, 255, 255, 0.2);
        background: rgba(#fff, 0.8);
      }
    }
  
    &-right {
        font-size: 0;
        transition: 0.3s;
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: auto;
            transform: scale(1);
            object-fit: cover;
            transition-duration: 1.2s;
        }
    }
  
    &.is-open {
      height: 100%;
      background: rgba(#333, 0.85);
  
      .modal-button {
        opacity: 0;
      }
  
      .modal-container {
        opacity: 1;
        transition-duration: 0.6s;
        pointer-events: auto;
        transform: translateY(0) scale(1);
      }
  
      .modal-right img {
        transform: scale(1);
      }
  
      .modal-left {
        transform: translateY(0);
        opacity: 1;
        transition-delay: 0.1s;
      }
    }
  
    &-buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      div {
        color: rgba(#333, 0.6);
        font-size: 14px;

        &:hover{
          cursor: pointer;
          text-decoration: underline;
          text-underline-offset: 3px;
        }
      }
    }
  }
  
  .sign-up {
    margin: 60px 0 0;
    font-size: 14px;
    text-align: center;
  
    a {
      color: #8c7569;
    }
  }
  
  .input-button {
    padding: 8px 12px;
    outline: none;
    border: 0;
    color: #fff;
    border-radius: 4px;
    background: #8c7569;
    font-family: "Nunito", sans-serif;
    transition: 0.3s;
    cursor: pointer;
  
    &:hover {
      background: #55311c;
    }
  }
  
  .input-label {
    font-size: 11px;
    text-transform: uppercase;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    letter-spacing: 0.7px;
    color: #8c7569;
    transition: 0.3s;
  }
  
  .input-block {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
    transition: 0.3s;
  
    input {
      outline: 0;
      border: 0;
      padding: 4px 0 0;
      font-size: 14px;
      font-family: "Nunito", sans-serif;
  
      &::placeholder {
        color: #ccc;
        opacity: 1;
      }
    }
  
    &:focus-within {
      border-color: #8c7569;
  
      .input-label {
        color: rgba(#8c7569, 0.8);
      }
    }
  }
  
  .icon-button {
    outline: 0;
    position: absolute;
    right: 10px;
    top: 12px;
    width: 32px;
    height: 32px;
    border: 0;
    background: 0;
    padding: 0;
    cursor: pointer;
  }
  
  .scroll-down {
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: darken(#8c7569, 5%);
    font-size: 32px;
    font-weight: 800;
    transform: translate(-50%, -50%);
    svg {
      margin-top: 16px;
      width: 52px;
      fill: currentColor;
    }
  }

  .shake {
    animation: shakeAnimation 1s ease-in-out;
  }

  .toggle-password-visibility {
    right: 10px;
    bottom: -30px; /* Adjust as needed to position below the input */
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
}


.nav-container{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
}

.hamb-button{
  z-index: 11111 !important;
}
.hamb-active{
  color: white;
}

.hidden-menu{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  position: fixed;
  width: 0;
  height: 100vh;
  background-color: rgb(38, 38, 38);
  z-index: 10000;
  opacity: 0;
  overflow: hidden;
  padding: 70px 0;
  a, .contacts-hidden{
    text-align: center;
    text-decoration: none;
    color: white;
    z-index: 9999;
    padding: 18px 28px;
    cursor: pointer;
    transition: background-color 0.3s ease-out;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 12px;
    margin: 5px 0;
    border-radius: 30px;
    width: 120px;
    height: 55px;
  }
  a:nth-of-type(1){
    background-color: #f44336;
    color: white;
  }
  .contacts-hidden{
    background-color: #e91e63;
    color: white;
  }
  a:nth-of-type(2){
    background-color:  #9c27b0;
    color: white;
  }
  a:nth-of-type(3){
    background-color: #673ab7;
    color: white;
  }
  a:nth-of-type(4){
    background-color: #3f51b5;
    color: white;
  }
  a:nth-of-type(5){
    background-color: #05a89b;
    color: white;
  }
  a:nth-of-type(6){
    background-color: #158c4f;
    color: white;
  }

}

.hidden-menu.hidden-active {
  animation: openMenu 0.4s forwards ease-in;
}

.hidden-menu.hidden-inactive {
  animation: closeMenu 0.4s forwards ease-in;
}

.stars{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9998;
}

@keyframes openMenu {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 100vw;
    opacity: 1;
  }
}

@keyframes closeMenu {
  0% {
    width: 100vw;
    opacity: 1;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

.canvas-section{
  position: relative;
  width: 100%;
  padding: 20px;
}

.canva{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh !important;
  background-color: #2e2e2e;
  border-radius: 20px;
}

.canvas-home-text{
  position: absolute;
  z-index: 1;
  color: white;
  font-family: 'Intro-Bold';
  font-size: 10rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 600px) and (max-width: 850px) {
    font-size: 7rem !important;
  }

  @media screen and (max-width: 599px) {
    font-size: 3rem;
    top: 30px !important;
  }
}

.lines{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.line {
  position: relative;
  width: 1px;
  height: 100%;
  top: 0;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.line::after {
  content: '';
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  animation: drop 7s 0s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.line:nth-child(1)::after {
  animation-delay: 2s;
}

.line:nth-child(3)::after {
  animation-delay: 2.5s;
}

.line:nth-child(5)::after {
  animation-delay: 3s;
}


@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

.items{
  position: relative;

}

#page-wrap{
  background: linear-gradient(to top left, white, #dddcdc); /* From pinkish to orangish */
  min-height: 100vh; /* Ensures the gradient covers the full viewport height */
}


.item {
  padding: 18px 28px;
  cursor: pointer;
  transition: color 0.3s ease-out;
  text-decoration: none;
  color: #111;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 12px;
  margin: 5px 0;

  &.active {
    color: #fff;
  }
}

.indicator {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 30px;
}

.indicator2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  border-radius: 30px;
}

.home-carousel-wrapper{
  position: relative;
  #view-all-products{
    text-align: center;
    padding-bottom: 20px;
  }
  #view-all-products a{
    width: 270px;
    height: 60px;
    display: inline-flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Intro-Bold';
    color: white;
    background-color: rgba(63, 81, 181, 0.85);
    border-radius: 20px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    @media screen and (max-width:499px) {
      font-size: 20px;
      width: 200px;
      height: 50px;
    }
  }
  #view-all-products a:hover{
    text-decoration: underline;
  }
}

.home-carousel-items{
  position: relative;
  width: 100%;
  height: auto;
  padding: 40px ;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: gray;
}

.home-carousel-content{
  position: relative;
  width: 100%;
  height: 380px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  .home-carousel-image-container{
    position: relative;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      position: absolute;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
  }
  .home-carousel-text-wrapper{
    position: relative;
    width: 100%;
    @media screen and (max-width: 500px) {
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
    }
    .home-carousel-text{
      display: grid;
      grid-template-columns: 1fr;
      color: white;
      font-weight: bold;
      font-family: 'Intro-Bold';
      background-color: rgba(63, 81, 181, 0.85);
      padding: 10px;
      border-radius: 20px;
      cursor: pointer;
      text-transform: uppercase;
      font-size: 30px;
      @media screen and (max-width: 500px) {
        font-size: 20px;
        padding: 6px !important;
      }
    }
  }
}

.home-carousel-text.stack {
  display: grid;
  grid-template-columns: 1fr;
}

.home-carousel-text.stack span {
  opacity: 1;
  font-weight: bold;
  grid-row-start: 1;
  grid-column-start: 1;
  font-size: 30px;
  --stack-height: calc(100% / var(--stacks) - 1px);
  --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
  --clip-top: calc(var(--stack-height) * var(--index));
  --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
  clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
  animation: stack 1000ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
  @media screen and (max-width: 500px) {
    font-size: 20px;
    padding: 6px !important;
  }
}

.home-carousel-text.stack span:nth-child(odd) {
  --glitch-translate: 8px;
}

.home-carousel-text.stack span:nth-child(even) {
  --glitch-translate: -8px;
}

@keyframes stack {
  0% {
    opacity: 0;
    transform: translateX(-50%);
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
  }
  60% {
    opacity: 0.5;
    transform: translateX(50%);
  }
  80% {
    transform: none;
    opacity: 1;
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  100% {
    text-shadow: none;
  }
}

@keyframes glitch {
  0% {
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    transform: translate(var(--glitch-translate));
  }
  2% {
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  4%,
  100% {
    text-shadow: none;
    transform: none;
  }
}

  @keyframes shakeAnimation {
    0%, 100% {
      transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
      transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
      transform: translateX(10px);
    }
  }

  .home-services-section{
    position: relative;
    width: 100%;
    padding: 20px;
    .services-home-container{
      position: relative;
      width: 100%;
      background-color: #2e2e2e;
      border-radius: 20px;
      padding-bottom: 50px;
    }
  }

  .home-tilt-card-container{
    background-color: #151030;
    padding: 1.25rem; 
    border-radius: 1.25rem;
    width: 400px;
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    .home-tilt-text-container{
      width: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content:space-around;
    }
    .home-tilt-text{
      text-align: center;
      margin-top: 1.25rem;
      h3{
        color: white;
        font-weight: bold; 
        font-size: 24px; 
      }
      p{
        margin-top: 0.5rem;
        color: #aaa6c3;
        font-size: 14px; 
      }
    }

    .home-tilt-tags{
      margin-top: 1rem;
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      p{
        font-size: 14px;
        color: #f44336;
      }
    }
  }

  .tilt-content{
    position: relative;
    width: 100%;
    height: 230px;
    overflow: hidden;
    img{
      width: 100%;
      height: 100%; 
      object-fit: cover ; 
      border-radius: 1rem; 
    }
  }

  .service-title{
    text-align: center;
    color: white;
    font-size: 5rem;
    padding: 50px 0;
  }

  .services-wrapper{
    position: relative;
    width: 100%;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap; 
    gap: 1.75rem; 
    justify-content: center; 
  }

  .home-wedding-section{
    position: relative;
    width: 100%;
  }

  .home-wedding-wrapper{
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    .home-wedding-white{
      padding: 70px;
      width: 50%;
      height: 100%;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      line-height: 30px;
      gap: 20px;
      p:nth-child(2){
        font-weight: bold;
      }
    }
    .home-wedding-gray{
      width: 50%;
      height: 100%;
      padding: 70px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      line-height: 30px;
      gap: 20px;
      background: linear-gradient(to right, white, gray);
      button{
        cursor: pointer;
        border-radius: 30px;
        border: none;
        padding: 18px 28px;
        transition: color 0.3s ease-out;
        text-decoration: none;
        color: white;
        background-color: #f44336;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        font-size: 12px;
      }
    }
  }

  .blogs-wrapper{
    position: relative;
    width: 100%;
    text-align: center;
    padding: 20px;
    .blogs-home-container{
      width: 100%;
      position: relative;
      background-color: #2e2e2e;
      border-radius: 20px;
      padding-bottom: 50px;
      .home-blogs-title{
        font-size: 3rem;
        color: white;
        font-family: 'Intro-Bold';
        padding: 30px 0;
      }
    }
  }

  .contacts-wrapper{
    position: relative;
    width: 100%;
  }
  
  .edit-delete-buttons{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
    button{
      background-color: #151030;
      color: white;
      width: 60px;
      height: 30px;
      border-radius: 8px;
    }
  }

  @media screen and (max-width: 890px) {
    .home-wedding-wrapper{
      flex-direction: column;
      height: auto;
      .home-wedding-white{
        width: 100%;
      }
      .home-wedding-gray{
        width: 100%;
        background: linear-gradient(to bottom, white, gray);
      }
    }
  }

  
  @media screen and (min-width: 800px) {
    .hamb-button{
      display: none;
    }
    .logo-mobile-nav{
      display: none;
    }
  }

  @media screen and (min-width: 0px) and (max-width: 410px) {
    .home-tilt-card-container{
      width: 100%;
    }
    .services-wrapper{
      padding: 10px;
    }
  }

  @media screen and (min-width: 411px) and (max-width: 698px) {
    .home-tilt-card-container{
      width: 360px;
    }
  }

  @media screen and (max-width:799px) {
    .nav-container{
      justify-content: left;
      .logo-mobile-nav{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .item, .indicator{
      display: none;
    }
  }

  @media screen and (max-width: 699px) {
    .services-home-container{
      .service-title{
        font-size: 3rem;
      }
    }
    .blogs-home-container{
      padding: 20px;
      .home-blogs-title{
        font-size: 2rem !important;
      }
    }

    .hamb-button{
      margin-left: 20px;
    }

    .home-wedding-wrapper{
      .home-wedding-white{
        padding: 30px;
        h2{
          font-size: 18px;
        }
        p{
          font-size: 14px;
        }
      }
      .home-wedding-gray{
        padding: 30px;
        img{
          width: 60px;
          height: 60px;
        }
        p{
          font-size: 14px;
        }
      }
    }
  }

@media screen and (max-width: 499px) {
  .contact-form{
    padding: 20px;
  }
  .contact-text-wrapper{
    h2{
      font-size: 19px;
    }
  }
}
  

@media screen and (max-width: 850px) {
  .canva{
    height: 90vh;
  }
}

  
@media(max-width: 750px) {
    .modal-container {
      width: 90%;
    }
    .modal-right {
      display: none;
    }
  }
